services:
  dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    image: mina-dashboard:latest
    container_name: mina-dashboard
    # If a .env file exists in project root, load it
    env_file:
      - .env
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - BOT_TOKEN=${BOT_TOKEN}
      - MONGO_CONNECTION=${MONGO_CONNECTION}
      - WEBHOOK_SECRET=${WEBHOOK_SECRET}
      - HOST=0.0.0.0
      - PORT=3000
    restart: unless-stopped
